label {
	/*display:inline-block;*/
	width: 125px;
	float: left;
}
#notification, #notification2 {
	color: green;
	display:none;
}
.warning {
	color: yellow;
}
button {
	margin-top: 5px;
}
.ui-button,  .ui-button-text .ui-button {
	font-size: 14px !important; 
}
